#content {
  width: 600px;
  margin: 120px auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}

body {
  /*background-image: url("backgroundimg.jpg");*/
  background-repeat: no-repeat;
  font-family: 'Barrio', sans-serif;
}

h1, h2 {
  color: black;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #0066CC;
}

#photo {
  width: 400px;
}

input[type=email], select, textarea {
  width: 90%;
  padding: 12px;  
}

input[type=submit]{
  background-color: #0066CC;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-top: 15px;
}