header{
  color: black;
  padding: 20px 30px;

}

h1 {
  font-size: 36px;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 30px;
  margin: 40px 0 8px 0;
}

body {
  /*background-image: url("backgroundimg.jpg");*/
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}


#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #0066CC;
}

#photo {
  width: 400px;
}

input[type=email], select, textarea {
  width: 90%;
  padding: 12px;  
  font-size: 25px;
}

input[type=submit]{
  background-color: #0066CC;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-top: 15px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
}

input[type=button]{
  background-color: #0066CC;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-top: 15px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
}

footer{
position: absolute;
right: 0;
bottom: 0;
left: 0;
right: 0;
padding: 1rem;
text-align: center;
}

button.bottom{
  position: absolute;
right: 0;
bottom: 0;
left: 0;
right: 0;
padding: 1rem;
text-align: center;
}